@model BankOfBIT.Models.NextSavingsAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NextSavingsAccount</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NextAvailableNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NextAvailableNumber)
    </div>
</fieldset>
<p>
    <!-- Removed Action Links -->
</p>
